@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: "Roboto Flex", sans-serif;
    font-size: 1em;
    line-height: 1.4em;
    background-color: #000060;
    color: rgb(80, 80, 80);
    scroll-behavior: smooth;
}

.container {
    display: grid;
    grid-template: auto / auto;
    place-items: stretch stretch;
    place-content: stretch stretch;
    padding: 0px;
    margin: 0px;
}

.item {
    display: block;
    margin: auto;
    text-align: center;
    width: 90vw;
}

header {
    background-color: #000060;
    color: white;
    text-align: center;
}
header > img {
    padding-top: 10px;
}
header > h2 {
    font-family: "Cormorant", serif;
    font-weight: bolder;
    font-size: 1.8em;
    text-shadow: 2px 2px 5px black;
    padding: 0px 0px 10px 0px;
}
header > h3 {
    font-family: "Cormorant", serif;
    font-weight: bolder;
    font-size: 1.2em;
    line-height: 1em;
    padding: 0px 0px 20px 0px;
    color: white;
}
header > nav {
    display: flex;
    margin: auto;
    width: 90vw;
}
header > nav > a {
    background-color: rgba(128, 128, 128, 0.50);
    color: white;
    padding: 10px;
    margin: 1px;
    width: 30vw;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

article.item {
    background-color: white;
    border-radius: 5px 5px 5px 5px;
    padding: 15px;
    margin-top: 10px;
    text-align: justify;
}
article.item > h2 {
    color: darkblue;
    padding-bottom: 10px;
}
article.item > h3, h4 {
    color: darkblue;
    padding-top: 10px;
    padding-bottom: 10px;
}
article.item > p {
    padding-bottom: 10px;
}
article.item > p > a {
    display: block;
    background-color:rgb(130, 130, 130);
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 3px;
}
article.item > ul > li {
    margin-left: 20px;
    padding-bottom: 5px;
}

div.item {
    min-height: 350px;
    max-width: 90vw;
}

div#servicosimg {
    background-image: url(imagens/img-servicos-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 0px 5px 5px;
}

footer {
    text-align: center;
    background-color: rgba(128, 128, 128, 0.50);
    color: white;
    padding: 5px;
    margin-top: 20px;
    margin-bottom: 0px;
}
footer > p {
    margin: 0px;
    padding: 0px;
}

a#topo {
    text-decoration: none;
    padding: 12px 5px 12px 5px;
    background-color: rgba(128, 128, 128, 0.818);
    color: white;
    border-radius: 12px;
    position: fixed;
    right: 15px;
    bottom: 35px;
}

div.logos {
    display:grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-top: 15px;
    text-align: center;
}
div.logo {
    display: block;
    margin: auto;
    width: 90vw;
}
div.logo > img {
    height: 65px;
    margin: 10px;
}
