@charset "UTF-8";

/*
Paleta de Cores
---------------
#000061 - Fundo Escuro
#FAFAFA - Textos Claros
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
    background-color: #000061;
}

header, section.normal {
    color: white;
    text-align: center;
}

header > h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.8em;
    padding: 0px 0px 10px 0px;
}
header > h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1em;
    padding: 0px;
    padding: 0px 0px 10px 0px;
}

section.flex-content {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
}

h2, h3 {
    padding: 20px;
}

p {
    text-align: justify;
    padding: 15px;
}

article.text-media {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: #FAFAFA;
    /* 
    margin-bottom: 30px;
    border-radius: 10px 10px 0px 0px;
    */
    margin: 0px 0px 30px 0px;
}

article.media-text {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    background-color: #FAFAFA;
    /*
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
    */
    margin: 0px 0px 30px 0px;
}

article > div.text {
    flex: 1 1 500px;
}

article > div.media {
    flex: 1 0 400px;
    /* border: 1px solid gray; */
    background-color: lightblue;
}

div.media > img {
    display: block;
    margin: auto;
    /* width: 300px; */
    width: 100%;
    padding: 0px;
}