@charset "UTF-8";

/*
Paleta de Cores
---------------
#000061 - Fundo Escuro
#FAFAFA - Textos Claros
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body, html {
    background-color: #000061;
}

header {
    color: #FAFAFA;
    text-align: center;
    padding: 10px;
}


header > h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.6em;
}

header > h3 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}



main {
    display: block;
    width: 80vw;
    /*
    background-color: #FAFAFA; 
    */
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}





main > article {
    display: block;
    margin: 0px ;
    padding: 10px;
    background-color: #FAFAFA;
    width: 80vw;
}

main > img {
    display: inline-block;
    width: 80vw;
    margin: 0px;
    padding: 0px;
}


article > h2 {
    padding-bottom: 10px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}

i#burger {
    background-color: rgb(48, 48, 48);
    color: white;
    display: block;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#burger:hover {
    background-color: white;
    color: black;
}